@CHARSET "UTF-8";

*{
	text-align: center;
	margin: 0px;
}

.main {
	width: 860px;
	margin: 0 auto;
	text-align: left;
	line-height: 40px;
}

.formula{
	width: 100px;
	text-align: center;
	padding: 10px;
	border: solid 1px #000;
	margin-left: auto;
	margin-right: auto;
}

.cena{
	text-align: left;
	width: 860px;
	min-height: 200px;
	border: solid 1px #000;
}

.legenda{
	float: left;
}

.legenda span{
	float: left;
}

.parametros{
	float: right;
	list-style: none;
	width: 100px;
	white-space: nowrap;
}

.nota{
	margin-left: 50px;
	width: 600px;
	text-align: left;
}

#plano{
	position: relative;
	top: 100px;
	left: 200px;
}


#play{
	padding: 10px;
	vertical-align: top;
	float: left;
}

#bloco{
	border: 1px solid #000000;
	background:#BEBEBE;
	position: relative;
}

#unidade{
	margin-left: 20px;
	vertical-align: middle;
	width: 1cm;
	height: 30px;
	border: 1px solid #000000;
	border-top: 0px;
}

#regua{
	height: 150px;
	background-image: linear-gradient(to right, rgba(000,000,000,1) 1px, transparent 1px);
	background-size: 1cm 30px;
	background-repeat: repeat-x;
	background-position: 0 bottom;
}

.propriedades{
	position: relative;
	left: 200px;
	top: -250px;
}